<nav id="edgeryders-communities-navigation">
  <div class="wrap">
    <ul class="forum-selector">
      <li class="menuitem-clickable" tabindex="0">
        <a><i class="fa fa-comments-o "></i> Communities</a>
        <ul class="menu-level2">

          <li>
            <a class="community-link edgeryders-community" href="https://edgeryders.eu">
              Edgeryders
              <span class="site-desc">For (description here...)</span>
            </a>
          </li>

          <li>
            <a class="community-link timisoara-community" href="https://timisoara.edgeryders.eu">
              TeaM 2021
              <span class="site-desc">For (description here...)</span>
            </a>
          </li>

        </ul>
      </li>
    </ul>
  </div>
</nav>
